/*
Simple Grid Template 
http://www.templatemo.com/preview/templatemo_354_simple_grid
*/

body {
	margin: 0;
	padding: 0;
	color: #606776;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color: #495364;
	background-image: url(../images/templatemo_body.png);
	background-repeat: repeat;
}

a, a:link, a:visited { color: #e5bb58; font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

a.gototop { clear: both; display:block; float: right; margin-top: 40px; height: 20px; line-height: 20px; font-size: 11px; color: #485163; font-weight: 700; padding-left: 15px; background: url(../images/go_to_top.png) scroll 0 3px no-repeat }

p { margin: 0 0 10px 0; padding: 0;color: #fff; }

img { border: none; }
b { color: #e5bb58}
blockquote {margin: 0 0 20px 0}
cite { font-weight: bold; color:#e5bb58; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #606776; }

h1, h2, h3, h4, h5, h6 { color: #bac9ee; font-weight: normal; }
h1 { font-size: 36px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.divider { margin-bottom: 40px; padding-bottom: 20px; background: url(../images/templatemo_divider.png) repeat-x bottom }

.float_l { float: left }
.float_r { float: right }


.article-inner {
    overflow: hidden;
    border: 1px solid  #1d1d1f;
}
.article-header {
    padding: 10px 10px 0;
}
.article-precontext {
    padding: 5px 10px 0;
}
.article-contextbtn {
    padding: 5px 10px 5px 400px;
}


#templatemo_wrapper {
	width: 860px;
	margin: 0 auto;
}

#templatemo_header {
	padding: 40px 0 10px;
}

#templatmeo_menu {
	height: 50px;
	padding: 10px 0;
	background: url(../images/templatemo_menu_bg.png) no-repeat
}

#templatemo_main {
	padding: 30px;
	background: url(../images/templatemo_main.png) repeat-y
}

#templatemo_footer {
	padding: 40px 0 20px;
	text-align: center;
	color: #000;
	background: url(../images/templatemo_footer.png) no-repeat top center
}
#article_main {
	height: 150px;
	padding: 5px 0;
	background: #1d1d1f;) 
}
#article_context {
	height: 500px;
	padding: 5px 0;
	background: #1d1d1f;) 
}

#templatmeo_menu ul { margin: 0; padding: 0; list-style: none }
#templatmeo_menu ul li { margin: 0; padding: 0; }
#templatmeo_menu ul li a { display: block; position: relative; float: left; margin-left: 10px; width: 160px; height: 49px }
#templatmeo_menu ul li a span { position: absolute; width: 30px; height: 30px; top: 8px; left: 10px; }

#templatmeo_menu ul li a.home { background: url(../images/btn_blank.png) }
#templatmeo_menu ul li a.home span { background: url(../images/icon_home.png) }
#templatmeo_menu ul li a.home:hover span {  background: url(../images/icon_home_hover.png) }

#templatmeo_menu ul li a.aboutme { background: url(../images/btn_blank.png) }
#templatmeo_menu ul li a.aboutme span { background: url(../images/icon_about.png) }
#templatmeo_menu ul li a.aboutme:hover span {  background: url(../images/icon_about_hover.png) }

#templatmeo_menu ul li a.article { background: url(../images/btn_blank.png) }
#templatmeo_menu ul li a.article span { background: url(../images/icon_services.png) }
#templatmeo_menu ul li a.article:hover span {  background: url(../images/icon_services_hover.png) }



#templatemo_main h1 {padding: 10px 0 10px 25px; font-size: 28px; background: url(../images/header.png) no-repeat left center }

.main_box { min-height: 600px; padding: 30px 0; margin-bottom: 30px; background: url(../images/divider.png) repeat-x bottom }

.img_float_l { float: left; margin: 3px 30px 5px 0 }
.img_float_r { float: right; margin: 3px 0 5px 30px } 
.img_frame { border: 1px solid #2f323b; background: #15171d; padding: 9px; margin-bottom: 10px  }

#gallery { margin: 0; padding: 0; list-style: none }
#gallery li { margin: 0; padding: 0; }
#gallery li a { display: block; float: left; margin: 0 5px 5px 0; border: 6px solid #181b21  }
#gallery li a.no_margin_right { margin-right: 0 }


.github_summary { margin: 0; padding: 0; list-style: none }
.github_summary li { margin: 0 0 20px }

.col { float: left; margin-right: 40px }
.aboutcol { float: left; margin-right: 80px }
.col_aboutmeleft { width: 340px }
.col_aboutright { width: 300px }
.col_homeleft { width: 520px }
.col_homeright { width: 240px }
.no_margin_right { margin-right: 0 }


